@font-face {
  font-family: 'Rubik Mono One';
  src: local("Rubik Mono One Regular"), local("RubikMonoOne-Regular"), url("../fonts/rubikmonooneregular.woff2") format("woff2"), url("../fonts/rubikmonooneregular.woff") format("woff"), url("../fonts/rubikmonooneregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff"), url("../fonts/Rubik.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubikbold.woff2") format("woff2"), url("../fonts/Rubikbold.woff") format("woff"), url("../fonts/Rubikbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.preload {
  height: 140px;
  width: 760px;
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.animate_svg {
  height: 140px; }

.b1 {
  -webkit-animation: changeheight1 3s infinite;
          animation: changeheight1 3s infinite;
  position: absolute;
  left: 0; }

.b2 {
  -webkit-animation: changeheight2 3s infinite;
          animation: changeheight2 3s infinite;
  position: absolute;
  left: 70px; }

.b3 {
  -webkit-animation: changeheight3 3s infinite;
          animation: changeheight3 3s infinite;
  position: absolute;
  left: 140px; }

.b4 {
  -webkit-animation: changeheight4 3s infinite;
          animation: changeheight4 3s infinite;
  position: absolute;
  left: 210px; }

.b5 {
  -webkit-animation: changeheight5 3s infinite;
          animation: changeheight5 3s infinite;
  position: absolute;
  left: 280px; }

.b6 {
  -webkit-animation: changeheight6 3s infinite;
          animation: changeheight6 3s infinite;
  position: absolute;
  left: 350px; }

.b7 {
  -webkit-animation: changeheight7 3s infinite;
          animation: changeheight7 3s infinite;
  position: absolute;
  left: 420px; }

.b8 {
  -webkit-animation: changeheight8 3s infinite;
          animation: changeheight8 3s infinite;
  position: absolute;
  left: 490px; }

.b9 {
  -webkit-animation: changeheight9 3s infinite;
          animation: changeheight9 3s infinite;
  position: absolute;
  left: 560px; }

.b10 {
  -webkit-animation: changeheight10 3s infinite;
          animation: changeheight10 3s infinite;
  position: absolute;
  left: 630px; }

.b11 {
  -webkit-animation: changeheight11 3s infinite;
          animation: changeheight11 3s infinite;
  position: absolute;
  left: 700px; }

@-webkit-keyframes changeheight1 {
  0% {
    height: 100%; }
  8.3% {
    height: 120%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight1 {
  0% {
    height: 100%; }
  8.3% {
    height: 120%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight2 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 120%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight2 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 120%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight3 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 120%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight3 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 120%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight4 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 120%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight4 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 120%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight5 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 120%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight5 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 120%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight6 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 120%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight6 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 120%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight7 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 120%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight7 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 120%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight8 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 120%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight8 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 120%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight9 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 120%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight9 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 120%; }
  83% {
    height: 100%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight10 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 120%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes changeheight10 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 120%; }
  91.3% {
    height: 100%; }
  100% {
    height: 100%; } }

@-webkit-keyframes changeheight11 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 120%; }
  100% {
    height: 100%; } }

@keyframes changeheight11 {
  0% {
    height: 100%; }
  8.3% {
    height: 100%; }
  16.6% {
    height: 100%; }
  24.9% {
    height: 100%; }
  33.2% {
    height: 100%; }
  41.5% {
    height: 100%; }
  49.8% {
    height: 100%; }
  58.1% {
    height: 100%; }
  66.4% {
    height: 100%; }
  74.7% {
    height: 100%; }
  83% {
    height: 100%; }
  91.3% {
    height: 120%; }
  100% {
    height: 100%; } }

* {
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s; }

body {
  height: 100%;
  background-color: #ffffff; }

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.container {
  max-width: 760px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }

.brown-row {
  display: block;
  height: 50px;
  width: 100%;
  background-color: #cfaa6b; }

.gray-row {
  display: block;
  height: 100px;
  width: 100%;
  background-color: #262626; }

.logo {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #262626;
  position: absolute;
  top: 20px;
  -webkit-transform: translateX(-80px);
      -ms-transform: translateX(-80px);
          transform: translateX(-80px);
  left: 50%;
  cursor: pointer; }
  .logo svg {
    width: 120px;
    height: 120px;
    position: relative;
    top: 20px;
    left: 20px;
    fill: #ffffff; }
  .logo:hover svg {
    -webkit-filter: invert(70%) sepia(30%) saturate(583%) hue-rotate(359deg) brightness(97%) contrast(80%);
            filter: invert(70%) sepia(30%) saturate(583%) hue-rotate(359deg) brightness(97%) contrast(80%); }

.promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/main-img.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 400px; }

.main-title {
  font: 400 50px "Rubik Mono One";
  line-height: 65px;
  margin: 0;
  color: #ffffff;
  text-align: center; }

.page-content {
  padding-bottom: 80px; }

.content-container {
  width: 760px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.form-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  width: 100%; }
  .form-wrap form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .form-wrap input {
    height: 60px;
    width: 240px;
    padding: 20px 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    color: #262626;
    font: 400 14px 'Rubik';
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    cursor: pointer; }

.form__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  color: #717171; }
  .form__label--text, .form__label--error {
    font: 400 12px 'Rubik';
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3.43px;
    height: 20px; }
  .form__label--error {
    color: #ff2731; }

.content-title {
  width: 100%;
  height: 120px;
  color: #262626;
  font: 400 30px 'Rubik Mono One';
  line-height: 40px;
  text-align: center;
  margin-top: 60px; }

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  width: 100%; }
  .features__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
    margin-bottom: 20px; }
    .features__wrap--item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .features__wrap--item svg {
        height: 60px;
        max-width: 80px;
        cursor: pointer;
        stroke: #cfaa6b;
        -webkit-transition-duration: 0s;
             -o-transition-duration: 0s;
                transition-duration: 0s; }
        .features__wrap--item svg:hover {
          stroke: #ff2731; }
          .features__wrap--item svg:hover + .features-label {
            color: #ff2731; }

.features-label {
  height: 20px;
  color: #cfaa6b;
  font: 400 16px "Rubik Mono One";
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }

.info {
  height: 70px;
  color: #262626;
  font: 700 14px "Rubik";
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 66px;
  text-align: center;
  margin-top: 50px; }

.submit_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 60px;
  color: #ffffff;
  margin-top: 50px;
  border: none;
  outline: none;
  font: normal 400 16px "Rubik Mono One";
  line-height: 40px;
  text-transform: uppercase; }

.btn_disabled {
  background-color: #dbdbdb;
  color: #717171; }

.btn_done {
  background-color: #ff2731;
  cursor: pointer; }
  .btn_done:hover {
    background-color: #dc1822; }

.default_input {
  border: 4px solid #717171; }
  .default_input:hover, .default_input:focus {
    border: 1px solid #717171; }

.error_input {
  border: 1px solid #ff2731; }

.done_input {
  border: 4px solid #cfaa6b; }

@media (max-width: 960px) {
  .main-title {
    font-size: 50px; } }

@media (max-width: 760px) {
  .container {
    max-width: 600px; }
  .form-wrap form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .form-wrap form input {
      margin-bottom: 50px; }
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .features-label {
    font-size: 14px; }
  .content-title {
    margin-top: 50px; } }

@media (max-width: 480px) {
  .info {
    height: auto;
    padding: 0; }
  .main-title {
    line-height: 40px; }
  .content-title {
    height: auto;
    line-height: 30px; } }

@media (min-width: 320px) and (max-width: 960px) {
  .main-title {
    font-size: calc( 4.5vw + 10px); }
  .content-title {
    font-size: calc( 2vw + 10px); } }

@media (max-width: 320px) {
  .main-title {
    font-size: 22px; }
  .content-title {
    font-size: 14px; } }
